@font-face {
  font-family: "Garamond";
  src: url(./font/EBGaramond-VariableFont_wght.ttf);
}

:root{
  font-family: 'Garamond', Arial, Helvetica, sans-serif;
}

body{
  margin: 0;
}

.container{
  display: grid;
  grid-template-columns: minmax(250px, 19%) 5fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
}

.main-content h3{
  font-size: 25px;
  margin: 0;
}

.header{
  background-color: #E0E0E2;
  grid-column: 2 / 3;
}

.sidebar-container{
  background-color: #416788;
  grid-row: 1 / 3;
}

.dashboard, .links, .add-links{
  display: grid;
  grid-template-columns: 25px auto;
  column-gap: 14px;
  align-items: center;
}

.dashboard{
  height: 80px;
}

.profile-pic-icon{
  height: 40px;
  width: 40px;
}

.profile-pic{
  height: 80px;
  width: 80px;
}

.sidebar{
  display: flex;
  flex-direction: column;
  gap: 1.6em;
  padding-left: 1.6em;
  padding-top: 1em;
}

#search{
  width: 90%;
  height: 1.8em;
  border-radius: 20px;
  border: 1px solid black;
  padding-left: 12px;
}

#search:hover{
  background-color: rgb(228, 227, 227);
}

.main-content{
  background-color: #B5BAD0;
  display: grid;
  grid-template-columns: 1fr 1fr 0.7fr;
  grid-template-rows: 50px 1fr;
  padding: 10px 50px 50px 50px;
  gap: 15px;
  align-items: end;
}

.cards{
  display: grid;
  height: 100%;
  width: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 25px;
  grid-row: 2 / 5;
  grid-column: 1 / 3;
}

.card{
  background-color: white;
  border-radius: 10px;
  border-left: 8px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 30px 10px 30px;
  box-shadow: 10px 10px 10px -3px rgb(80, 79, 79, 1)
}

.right-sidebar

.text h4, .text p{
  margin: 0;
}

.card .icons{
  align-self: flex-end;
  display: flex;
  gap: 5px;
}

.your-project{
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.announcements{
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.right-sidebar{
  grid-row: 2 / 5;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.update-info{
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 40px;
  padding-right: 40px;
}

.user img{
  height: 60px;
  width: 60px;
}

.info{
  padding-bottom: 30px;
}

.info:first-of-type, .info:nth-child(2){
  border-bottom: 1px solid grey;
}

.info h5, .info p{
  margin: 0;
}

.trending{
  display: flex;
  flex-direction: column;
}

.trending h3{
  padding-bottom: 15px;
}

.trending-box{
  height: 100%;
  background-color: white;
  border-radius: 10px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  padding: 20px;

  display: grid;
  gap: 15px;
}

.user{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.user-info h5, .user-info p{
  margin: 0;
}

.user-info{
  width: 150px;
}

.header-container{
  display: grid;
  grid-template-rows: 96px auto;
  padding-left: 40px;
  padding-right: 40px;
}

.top-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  height: 80px;
}

.search-header{
  width: 80%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile-icons-header{
  display: flex;
  align-items: center;
  gap: 20px;
}

.bottom-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.greeting-msg p, .greeting-msg h2{
  margin: 0;
}

.greeting-msg{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greeting{
  display: grid;
  grid-template-columns: 90px auto;
}

.btns{
  display: flex;
  gap: 20px;
}

.btns button{
  height: 50px;
  width: 120px;
  border-radius: 30px;
  font-size: 1em;
  border: none;
  background-color: #416788;
  color: white;
}

.btns button:hover{
  background-color: grey;
  color: black;
}

.dashboard a, .links a, .add-links a{
  font-size: 20px;
  text-decoration: none;
  color: black;
  padding: 12px 0;
}

.sidebar a:hover{
  color: white;
}